<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Babymart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
                                                                                                                      </configSections>
  <connectionStrings>
    <add name="shopdochoi123_dbEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=123.30.109.10;initial catalog=shopdochoi123_db;persist security info=True;user id=shopdochoi123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="babymart_vnEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TAM-PC\SQLEXPRESS;initial catalog=babymart_vn;persist security info=True;user id=sa;password=25091989;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="babymart_vnEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql175wn.dotvndns.vn;initial catalog=babymart_vn;persist security info=True;user id=babymart;password=kiapham1991;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <add key="connectionString" value="Data Source=mssql175wn.dotvndns.vn;Initial Catalog=babymart_vn;User ID=babymart;Password=kiapham1991" />
    <add key="Domain" value="https://babymart.vn/" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="StoreID" value="1000" />
    <add key="UrllocationDetail" value="https://babymart.vn/Images/hinhdulieu/data/" />
    <add key="Urllocation" value="https://babymart.vn/Images/hinhdulieu/thumbnail/" />
    <add key="Urllocationnhanhieu" value="https://babymart.vn/Images/hinhdulieu/nhanhieu/" />
    <add key="UrlModule" value="https://babymart.vn/Images/hinhdulieu/module/thumbnail/" />
    <add key="UrlUpload" value="https://babymart.vn/Images/hinhdulieu/upload/" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <!--facebook app-->
    <add key="fbappid" value="1728675160694106" />
    <add key="fbapppass" value="386777ff627447ec87f5d17c87918513" />
    <!--vnpay-->
    <add key="vnpay_tid" value="10010301" />
    <add key="vnpay_secretkey" value="ba45deda0e381c0a0b6d8959331b7ba1" />
    <!--He thng dang bao tri (value="1")-->
    <add key="SysMaintenance" value="0" />
  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="30" />
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Admin/Account/Login" timeout="2880" />
    </authentication>
    <customErrors defaultRedirect="404.html" mode="On">
    </customErrors>
    <!--<customErrors mode="Off"/>-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="BundleModule" />
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
    </modules>
    <!--<rewrite>
      <rules>
        <rule name="Redirect to non-www" stopProcessing="true">
          <match url="(.*)" negate="false"></match>
          <action type="Redirect" url="https://babymart.vn/{R:1}"></action>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^babymart\.vn$" negate="true"></add>
          </conditions>
        </rule>
      </rules>
    </rewrite>-->
    <rewrite>
      <rules>
        <rule name="Convert to lower case" stopProcessing="true">
          <match url=".*[A-Z].*" ignoreCase="false" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/tin-tuc/*" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/chuyen-muc/*" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/danh-muc/*" />
          </conditions>
          <action type="Redirect" url="{ToLower:{R:0}}" redirectType="Permanent" />
        </rule>
        <rule name="am-nhac" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/am-nhac.html" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/hoat-hinh.html" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/game.html" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/am-nhac/xem-phim/*" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/hoat-hinh/hoat-hinh-thieu-nhi/*" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/hoat-hinh/doraemon/*" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/hoat-hinh/hay-doi-day/*" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/hoat-hinh/qua-tang-cuoc-song/*" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/bai-viet/index.html" />
          </conditions>
          <action type="Redirect" url="/404.html" redirectType="Permanent" />
        </rule>
        <rule name="Block free-share-buttons" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_REFERER}" pattern="*.free-share-buttons.com" />
          </conditions>
          <action type="AbortRequest" />
        </rule>
        <rule name="Block floating-share-buttons" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_REFERER}" pattern="*.floating-share-buttons.com" />
          </conditions>
          <action type="AbortRequest" />
        </rule>
        <rule name="BlockReferralTraffic" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_REFERER}" pattern="*.get-free-social-traffic.com|get-free-social-traffic.com" />
          </conditions>
          <action type="AbortRequest" />
        </rule>
        <rule name="block libwww" stopProcessing="true">
          <match url="^.*" ignoreCase="false" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_USER_AGENT}" pattern="libwww" />
            <add input="{HTTP_USER_AGENT}" pattern="libwww-perl" />
          </conditions>
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
      </rules>
    </rewrite>
    <caching>
      <profiles>
        <add extension=".ico" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client" />
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client" />
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client" />
      </profiles>
    </caching>
    <staticContent>
      <!--<clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />-->
      <clientCache cacheControlMode="UseExpires" httpExpires="Tue,19 Jan 2038 03:14:07 GMT"/>
    </staticContent>
  <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <location path="home.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <applicationSettings>
    <Babymart.Properties.Settings>
      <setting name="Babymart_VnPay_PaymentApi" serializeAs="String">
        <value>https://pay.vnpay.vn/merchantapi/PaymentApi.asmx</value>
      </setting>
    </Babymart.Properties.Settings>
  </applicationSettings>
</configuration>