@{
    ViewBag.Title = "Index";
}

@section scripts_ko{

    @Scripts.Render("~/module/contents")
    <script>
        $(document).ready(function () {
            (new Contents.mvContents().Start())
        });

    </script>

}


<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <table class="table table-hover table-nomargin  table-bordered">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Content</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Contents">
                    <tr class="gradeX">
                        <td data-bind="text: Type"> </td>
                        <td data-bind="text: Name"> </td>
                        <td data-bind="text: Contents"> </td>
                        <td>
                            <p data-bind="visible:hide()"><span class="btn btn-danger">Ẩn</span></p>
                            <p>
                                <a class="btn  btn-primary" data-bind="click:$parent.EditContents"><i class="icon-pencil"></i></a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="modal-Contents-edit" style="width:900px; left:35%" data-bind="with: mContents" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal form-bordered">
            <div class="control-group">
                <label for="textfield" class="control-label">Type</label>
                <div class="controls">
                    <strong data-bind="text:Type"></strong>
                </div>
            </div>
            <div class="control-group">
                <label for="textfield" class="control-label">Name</label>
                <div class="controls">
                    <input type="text" data-bind="value: Name" />
                    <input type="text" data-bind="value: Name_us" placeholder="TA" />
                </div>
            </div>
            <div class="control-group">
                <label for="textfield" class="control-label">Contents</label>
                <div class="controls">
                    <textarea data-bind="value: Contents" rows="5" style="width:100%;min-height:400px"></textarea>
                    <p><b>( TA: )</b></p>
                    <textarea data-bind="value: Contents_us" rows="5" style="width:100%;min-height:400px"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label for="textfield" class="control-label">Ẩn</label>
                <div class="controls">
                    <input type="checkbox" name="checkboxG5" id="checkboxG5" class="css-checkbox" data-bind="checked:hide,checkedValue:true">
                    <label for="checkboxG5" class="css-label radGroup1 chk">Ẩn</label>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" data-bind="click:$parent.SubmitEditContent">Save changes</button>
    </div>
</div>