<div id="left">

    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Sản phẩm</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="/admin/product">Sản phẩm</a>
            </li>
            <li>
                <a href="/admin/brand">Thương hiệu</a>
            </li>
            <li>
                <a href="/admin/link">Danh mục</a>
            </li>
        </ul>
    </div>
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Đơn hàng</span></a>
        </div>
        <ul class="subnav-menu">

            <li>
                <a href="/admin/customers">Khách hàng</a>
            </li>
            <li>
                <a href="/admin/order">Đơn hàng</a>
            </li>
            <li>
                <a href="/admin/shipping">Phí giao hàng</a>
            </li>
        </ul>
    </div>
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Module</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="/admin/module#/cam-nang/list">
                    Cẩm nang
                </a>
            </li>
            <li>
                <a href="/admin/module#/am-nhac/list">
                    Âm nhạc
                </a>
            </li>
            <li>
                <a href="/admin/module#/hoat-hinh/list">
                    Hoạt hình
                </a>
            </li>
            <li>
                <a href="/admin/module#/game/list">
                    Game
                </a>
            </li>
        </ul>
    </div>
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Bài viết</span></a>
        </div>
        <ul class="subnav-menu">

            <li>
                <a href="/admin/page">Bài viết</a>
            </li>
        </ul>
    </div>
    <div class="subnav">
        <div class="subnav-title">
            <a href="/admin/file" class='toggle-subnav'><i class="icon-angle-down"></i><span>File</span></a>
        </div>
        <ul class="subnav-menu">

            <li>
                <a href="/admin/file">File</a>
            </li>
            <li>
                <a href="/admin/banner">Banner</a>
            </li>
            <li>
                <a href="/admin/contentsMeta">SEO - Contents</a>
            </li>
        </ul>
    </div>
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Gói đồ sơ sinh</span></a>
        </div>
        <ul class="subnav-menu">

            <li>
                <a href="/admin/plans">Gói đồ sơ sinh</a>
            </li>
        </ul>
    </div>
</div>