@{
    ViewBag.Title = "Tạo lại mật khẩu";
    var IsLangVN = FBabymartvn.IsLangVN();
}
@section SEOContent{
    <title>Quên mật khẩu - Babymart.vn</title>
}
<div class="container">
    <div id='login' class='clearfix layout-content-common'>

        <h3 class='tab_panel'>@(IsLangVN ? "Đăng nhập" : "Login")</h3>
        @Html.Partial("Partial/_Login")
        @*<h3 class='tab_panel'>@(IsLangVN ? "Kích hoạt mật khẩu" : "Active password")</h3>
        <div class='content clearfix' style="text-align:center">
            @Html.Raw(ViewBag.message)
        </div>*@<!-- end content  -->
    </div>
</div>